.nav{
  height: 3em;
  position: relative;

  .brand-container{
    img{
      width: 2em;
      height: 2em;
      border-radius: 50%;
    }

    h5{
      margin-bottom: 0;
      font-weight: 700;
      font-size: 17px;
    }
  }

  .menu-content{
    position: absolute;
    right: 5px;
    top: 3.01em;
    background-color: white;
    border-radius: 15px;
    padding: 0px;
    overflow: hidden;
    z-index: 1000;

    .user{
      border-bottom: 1px solid #DDDADA;

      &__name{
        margin-bottom: 0;
        color: #0E2248;
        font-weight: bold;
        font-size: 18px;
        text-align: left;
      }
    }

    .menu-options{
      .menu-item{
        cursor: pointer;
        &:hover{
          background-color: #DDDADA;
        }

        &:has(>a.active){
          background-color: #DDDADA;
        }
      }
    }
  }

  .link{
    text-decoration: none;
    color: #0E2248;

    // &.active:has(.menu-item){
    //   background-color: #DDDADA;
    // }
  }
}

@media( max-width: 576px){
  .nav{
    margin-left: -15px;
    margin-right: -15px;
  }
}
