.page-title{
  font-weight: bolder;
  font-size: 3em;
}

.empty-container{
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .content{
    .empty-message{
      color: #333333B2;
      font-size: 25px;
      text-align: center;
      margin-top: 20px;
    }
  }
}

@media screen and (max-width: 556px){
  .page-title{
    font-size: 2em;
  }
}
